extends layout.pug
block content
  section(class='items')
    
    div(class='category-info')
      h1(class='category-name') #{categoryData[0].name}
      h3(class='seperator') .
      h2(class='category-description') #{categoryData[0].description}
    ul(class='main-container')
      each item in categoryItems  
        a(href=item.url)
          li(class='item-container') 
            img( width='100%', height='100%', alt='placeholder image' class='category-image')
            div(class='item-details')
              div(class='price') #{item.priceString}
              div(class='name') #{item.name}
  